html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body.light-theme {
  background-color: #ffffff;
  color: #000000 !important;
}

header.light-theme {
  background-color: #f0f0f0;
  color: #000000 !important;
}

body.dark-theme {
  background-color: #333333;
  color: #ffffff;
}

h2.dark-theme {
  color: #ffffff;
}

header.dark-theme {

  color: #ffffff;
}
