<footer class="footer">
  <div class="content">
    <div class="column">
      <h3>SLAIDER</h3>
        <ul class="about">
          <li class="list">
            <a routerLink="/about" routerLinkActive="active">About</a>
          </li>
          <li>
            <a routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
          </li>
          <li>
            <a routerLink="/sevice" routerLinkActive="active">Our Service Center</a>
          </li>
        </ul>

      <div class="social">
        <a href="#"><img src="/assets/icons/twitter.svg" alt="Twitter"></a>
        <a href="#"><img src="/assets/icons/facebook.svg" alt="Facebook"></a>
        <a href="#"><img src="/assets/icons/tiktok.svg" alt="TikTok"></a>
        <a href="#"><img src="/assets/icons/instagram.svg" alt="Instagram"></a>
      </div>
      <p>© Copyright 2025. Created by I.P</p>

    </div>
    <div class="column">
      <h3>Services</h3>
      <ul>
        <li>Bonus program</li>
        <li>Gift cards</li>
        <li>Credit and payment</li>
        <li>Service contracts</li>
        <li>Non-cash account</li>
        <li>Payment</li>
      </ul>
    </div>
    <div class="column">
      <h3>Assistance to the buyer</h3>
      <ul>
        <li>Find an order</li>
        <li>Terms of delivery</li>
        <li>Exchange and return of goods</li>
        <li>Guarantee</li>
        <li>Frequently asked questions</li>
        <li>Terms of use of the site</li>
      </ul>
    </div>
  </div>
</footer>
